*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
/.run/
/.venv/
/notebooks/subtitles/UCSQGkViib9XLwjDfIahtLdw/
/ragtitles/
/server/.env
/notebooks/subtitles/streams.json
/notebooks/subtitles/yt_dlp_all_content.sh
